html,
body {
    height: 100%;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 40%;
}

.header {
    display: flex;
    padding-left: 40px;
    margin-top: 50px;
    
}

.header img {
    width: 14vw;
    height: 28vh;
    border-radius: 20vh;
    margin-right: 7vw;
    margin-top: 30px;
    align-items: left;
}

.info {
    width: 40vw;
    margin-right: 3vw;
}

.info h2 {
    margin-bottom: 5vh;
    font-size: 32px;
}

.info-pessoais {
    display: inline;
    position: relative;
    line-height: 5vh;
    margin-top: 5vh;
    margin-left: 2vw;
    align-items: right;
}

.info-pessoais h1 {
    font-size: 21px;
}

.info-pessoais strong {
    color: #61c3f5;
}