html,
body {
	height: 100%;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.header-wrapper img {
	width: 100%;
	height: 38vh;
}

.header {
	display: flex;
	flex-direction: row;
	margin-left: 2.5vw;
	margin-top: 50px;
}

.header img {
	width: 14vw;
	height: 28vh;
	border-radius: 20vh;
	margin-right: 7vw;
	margin-top: 20px;
}

.info {
	width: 50vw;
}

.info h2 {
	margin-bottom: 5vh;
	font-size: 32px;
}

.info-pessoais {
	display: inline;
	position: relative;
	line-height: 5vh;
  margin-left: 5vw;
}

.info-pessoais h1 {
	font-size: 21px;
}

.info-pessoais strong {
	color: #61c3f5;
}

.wrapper {
display: flex;
justify-content: start;
padding: 30px;
}

.text {
  width: 85%;
  margin-left: 20px;
  line-height: 2.5;
}

.img-wrapper img {
width: 5vw;
height: 10vh;
margin-left: 2.5vw;
}

.meus-trabalhos {
	margin-top: 18vh;
	margin-left: 2.5vw;
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
}

.contato {
	margin-left: 2.5vw;
	margin-top: 12vh;
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
}

.form-container {
	margin-left: 2.5vw;
	margin-top: 6vh;
	width: 60%;
}

.form-upper {
	display: flex;
	flex-direction: row;
}

.email {
	width: 50%;
	height: 6vh;
	border-radius: 7px;
	border: 0.5px solid gray;
	text-indent: 10px;
}

.name {
	height: 6vh;
	border-radius: 7px;
	width: 45%;
	margin-left: 5%;
	border: 0.5px solid gray;
	text-indent: 10px;
}

.assunto {
	height: 6vh;
	border-radius: 7px;
	width: 100%;
	border: 0.5px solid gray;
	text-indent: 10px;
	margin-top: 3vh;
}

.mensagem {
	height: 22vh;
	border-radius: 7px;
	width: 100%;
	border: 0.5px solid gray;
	text-indent: 10px;
	margin-top: 3vh;
}

.form-submit {
	margin-top: 4vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 1.5vw;
}

.submit {
	height: 7vh;
	width: 50%;
	margin-left: 4.2vw;
	border-radius: 10px;
	border: 0.5px solid gray;
}

footer {
    margin-top: 10vw;
    text-align: center;
    font-size: 10px;
}



