html,
body {
    height: 100%;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 40%;
}

.header {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    margin-top: 50px;

    
}

.header img {
    width: 14vw;
    height: 28vh;
    border-radius: 20vh;
    margin-right: 7vw;
    margin-top: 30px;

}

.info {
    width: 40vw;
    margin-right: 3vw;
    flex-grow: 1;
}

.info h2 {
    margin-bottom: 5vh;
    font-size: 32px;
}

.info-pessoais {
    display: inline;
    position: relative;
    line-height: 5vh;
    margin-top: 6.2vh;
    /* margin-left: 2vw; */
    /* align-items: right; */
}

.info-pessoais h1 {
    font-size: 21px;
}

.info-pessoais strong {
    color: #61c3f5;
}


.meus-trabalhos {    
margin-top: 10vh;
}

.meus-trabalhos span {
    font-size: 32px;
    margin-left: 2.5vw;
    
}

.gym {
    width: 5vw
}

.container-meio {
margin-top: 3vw;
display: flex;
flex-direction: column;
margin-left: 2.5vw;
}

.controle-acad {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.coleta-img {
    width: 5vw;
}